* {
  box-sizing: border-box;
}

html, body {
  display: block !important;
  background-color: white;
  margin: 0;
  font-family: sans-serif !important;
  scroll-behavior: smooth;
  transition: 0.2s;
}

h1 {
  text-transform: capitalize;
}

h5 {
  font-weight: 700;
  letter-spacing: 0.07rem;
  text-transform: capitalize;
}

h6 {
  text-transform: capitalize;
  font-size: large;
}

input, button {
  outline: none !important;
}

.m-color {
  cursor: pointer;
  color: rgb(255, 153, 0) !important;
  text-transform: capitalize;
}

.font {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

/* MOBILE VIEW */
@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
  .image-wrapper2{
    display: none;
  }
  .intro {
  display: block;
  text-align: center;
  margin: 1.3rem;
  }
}

/* SIDEBAR */
.sidebar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
}

.sidebarheader {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebarheader i {
  color: orange;
  text-transform: capitalize;
  font-weight: 800;
  font-size: x-large;
}

.call {
  cursor: pointer;
  background-color: rgb(255, 153, 0);
  border-radius: 8px;
}

.phone-icon {
  font-size: larger;
}

.bar {
  cursor: pointer;
  color: white;
  background-color: transparent;
  font-size: 1.5rem;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  overflow: auto;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.2);
}

.modal-wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}

.modal-content {
  background-color: rgb(255, 153, 0);
  width: 80%;
  padding: 1rem;
  margin: auto;
  text-align: center;
  position: relative;
}

.link {
  padding: 0.4rem;
  text-decoration: none !important;
}

.a {
  color: white !important;
  font-weight: 500;
  font-size: larger;
  text-transform: capitalize;
  text-decoration: none;
}

.closebtn {
  top: 15px;
  right: 10px;
  font-size: larger;
  position: absolute;
  color: white;
  background-color: transparent;
  border: transparent;
}


/* DESKTOP VIEW */
@media screen and (min-width: 768px) {
  .sidebar {
    display: none;
  }
  .image-wrapper{
    display: none;
  }
  .image-wrapper2 {
    height: 70vh;
  }
  .mobile-desktop {
  height: 70vh;
  width: 100%;
  }
  .bg-white {
    align-items: center;
  }
}

.desktop {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar i {
  cursor: pointer;
  color: orange;
  text-transform: capitalize;
  font-weight: 800;
  font-size: x-large;
}

.navbar-link {
  color:  white;
  font-size: small;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
.navbar-link:hover {
  color: white;
  background-color: rgb(255, 153, 0);
}
.active {
  color: white;
  background-color: rgb(255, 153, 0);
  border-radius: 10px;
}

/* CONTENT */
header {
  color: white;
  position: relative;
}
.img-h img {
  height: 75vh;
}
.img-h > div {
  position: absolute;
  top: 0;
}
.con {
  background: rgba(0, 0, 0, 0.5);
  height: 75vh;
  width: 100%;
}

.logo {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.logo:hover {
  transform: scale(1.3);
  box-shadow: 1px 5px 8px 2px rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.2);
}

.number {
  color: rgb(255, 153, 0);
  font-size: 2.5rem;
  font-weight: bold;
}

.text-underline {
  cursor: pointer;
  color: rgb(255, 153, 0);
  padding-bottom: 0.05rem;
  margin-right: 0.2rem;
  border-bottom: 0.1rem solid rgb(255, 153, 0);
}

.main {
  color: white;
  background-color: black;
}

footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 0 20px 0 0;
}

.f-link {
  cursor: pointer;
  transition: 0.3s;
}
.f-link:hover {
  color: rgb(255, 153, 0) !important;
}